<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrsqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DepartmentListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jrsqlite.CourseDetailsActivity" />
        <activity android:name="com.jrsqlite.DepartmentDetailsActivity" />
        <activity android:name="com.jrsqlite.NewCourseActivity" />
        <activity android:name="com.jrsqlite.CourseListActivity" />
        <activity android:name="com.jrsqlite.NewDepartmentActivity" />
    </application>

</manifest>